@media (max-width: 1200px)
	.what-we-do__list
		gap: 30px
		grid-template-columns: repeat(2,1fr)
		padding: 0px 40px 40px

@media (max-width: 768px)
	.header
		&__inner
			justify-content: space-evenly
	.navi
		display: none
		order: 3
	.hero
		&__h1
			font-size: 24px
		&__h2
			min-height: 50px
			font-size: 18px
		&__form
			flex-direction: column
			max-width: 305px
			margin: 20px auto 0

	// Удалить после js
	.mouse-parallax__content
		transform: none!important
	// Удалить после js - end
	.price
		&__inner
			flex-direction: column
		.price__items
			width: 100%

	.hero__items
		padding: 10px
		max-width: 100%
	.price__items-list
		text-align: center
	.portfolio
		&__inner
			flex-direction: column
		&__
		&__item
			width: 100%
	.what-we-do__list
		grid-template-columns: 1fr
	.about
		&__main
			flex-direction: column
			align-items: center
		&__item
			max-width: 100%
			width: 100%
		&__mess i
			font-size: 30px

@media (max-width: 600px)
	.header__inner
		flex-direction: column
	.price__items-list
		margin-top: 30px
		margin-bottom: 40px
	.price__item
		width: 60%
	.footer__inner
		flex-direction: column
