@import "vars"
@import "../libs/normalize"

*
	box-sizing: border-box

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: none
		outline: none
a
	color: inherit
	display: block
	transition: .3s
	outline: none
	text-decoration: none
	&:hover
		text-decoration: none
ul
	list-style-type: none
	margin: 0
	padding: 0
h1
	margin: 0
h2
	margin-top: 0
	margin-bottom: 10px

p
	margin: 0
	padding: 0

img
	display: block
	max-width: 100%
	height: auto

.container
	padding: 0 15px
	max-width: 1230px
	margin: 0 auto

.flex
	display: flex
.jcsb
	justify-content: space-between
.aic
	align-items: center
.jcc
	justify-content: center

.btn
	font-size: 14px
	padding: 10px 20px
	display: block
	background-color: $lite
	font-weight: bold
	cursor: pointer
	border: none
	max-width: 280px
	text-align: center
	transition: 0.3s
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18)
	&:hover
		background-color: lighten(#000,8%)
		color: #fff
		transform: translateY(1px)
	&-nobg
		background-color: $lite

// logo
.logo
	margin-right: 10px
	width: 100px

// header
.header
	background-color: #000
	color: #ffffff
	// position: sticky
	// top: 0
	// z-index: 111
	&__inner
		display: flex
		justify-content: space-between
		align-items: center
	&_wrapper__left
		display: flex
	&__mess
		display: flex
		justify-content: space-between
		a
			margin-left: 10px

// header_wrapper__right tel
.tel_wrapper
	margin-right: 20px
	.btn
		margin-bottom: 10px

// header end

//navi

.navi__inner
	display: flex
	a
		padding: 5px
		position: relative
		margin-left: 10px
		margin-right: 10px
		&::after
			content: ''
			position: absolute
			background-color: #fff
			height: 1px
			width: 100%
			transform: scale(0)
			transition: .5s
			bottom: 0
			left: 0
		&:hover
			&::after
				transform: scale(1)
.navi-mob
	display: none
	position: relative
	transition: all 2s linear
	&__items
		display: none
		position: absolute
		min-width: 290px
		top: 30px
		right: 0px
		padding: 30px 20px
		background-color: #fff
		color: #000
		border-radius: 5px
		z-index: 1
		li
			margin-bottom: 10px
			border-bottom: 1px solid #eee

.navi-mob__burger
	display: flex
	align-items: center
	width: 30px
	height: 20px
	.burger
		display: block
		position: relative
		width: 30px
		height: 2px
		background-color: #fff
		&::before
			content: ""
			position: absolute
			width: 30px
			height: 2px
			bottom: 9px
			left: 0
			background-color: #fff
		&::after
			content: ""
			position: absolute
			width: 30px
			height: 2px
			top: 9px
			left: 0
			background-color: #fff
.block_active
	display: block
.block_hidden
	display: block
	opacity: 0
//navi end

// hero block2
.hero
	padding-bottom: 40px

	&__h1
		margin-bottom: 20px
		position: relative
		padding-bottom: 20px
		font-size: 36px
		&::after
			position: absolute
			content: ''
			bottom: 0
			left: 0
			width: 100%
			height: 1px
			background-color: $accent
	&__h2
		margin-bottom: 20px
		font-size: 26px
		color: #000000
		font-weight: bold
	&__text
		line-height: 20px
		margin-bottom: 20px

.hero__items
	max-width: 800px
	margin: 30px auto
	padding: 60px
	background-color: rgba(#fff,.7)

.hero__form
	margin-top: 20px
	display: flex
	input
		display: block
		padding: 16px 12px
		&[type=submit]
			background-color: $accent
			color: #fff
			cursor: pointer
//typed
.typed::after
	content: '|'
	display: inline
	animation: blink 0.7s infinite

.typed-cursor
	opacity: 0
	display: none

@keyframes blink
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1

//sect
.sect
	padding-top: 30px
	padding-bottom: 30px
	background-color: $lite
	&__title
		font-size: 26px
		text-align: center
		font-weight: bold

		//margin-top: 0
		margin-bottom: 30px

// hero block2 end
.mouse-parallax
	position: relative
	overflow: hidden
	&__background
		position: absolute
		z-index: -1
		width: 110%
		height: 110%
		background-position: center
		background-size: cover
		background-image: url('https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')
	//&__content

// block3 price

.price
	&__inner
		display: flex
		justify-content: space-between
	&__items-text
		width: 40%
		padding-left: 4%
	&__items-card
		display: flex
		justify-content: space-evenly
		flex-wrap: wrap
		width: 60%
	&__item
		width: 35%
		background-color: #ffffff
		box-shadow: 4px 2px 12px rgba(0, 0, 0, .1)
		border-radius: 5px
		padding: 10px 5px
		margin-bottom: 20px
		transition: transform .3s ease-in
		&:hover
			transform: scale(1.1)
	&__name
		padding: 10px
		text-align: center
		min-height: 44px
	&__name-item
		display: block
		min-height: 44px
	&__item-img
		width: 40%
		margin: 0 auto
	&__list-h2
		margin-bottom: 30px
		text-decoration: underline
		font-size: 30px
	&__list
		padding: 10px 0
		margin-bottom: 10px
		p
			margin-bottom: 10px
			position: relative
			padding-left: 30px
			&:before
				content: ""
				position: absolute
				width: 5px
				height: 5px
				border-radius: 50%
				background-color: #333
				top: 10px
				left: 10px
	&__price
		text-align: center
		margin-top: 20px
		margin-bottom: 20px
	&__btn
		margin-bottom: 10px
	.btn
		margin: auto
		background-color: #e23026
		color: #fff
		// font-weight: 400
//.price__items-list
.price__link
	font-size: 24px
	position: relative
	display: inline-block
	&::after
		content: ''
		position: absolute
		background-color: #000
		height: 1px
		width: 100%
		transform: scale(0)
		transition: .5s
		bottom: 0
		left: 0
	&:hover
		&::after
			transform: scale(1)

// block3 price end

.portfolio
	background-color: #fff
	&__inner
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		padding: 0 20px 40px
	&__item
		width: 45%
		margin-bottom: 40px
	&__title
		text-align: center
		min-height: 46px
	&__wrapper
		position: relative
	&__laptop
		border: 3px solid #000
		border-radius: 5px
		&::after
			content: ""
			position: absolute
			left: -19px
			z-index: auto
			width: 102.5%
			padding-top: 3.13%
			border: 3px solid #000
			border-radius: 0 0 15px 15px
	&__mobile
		position: absolute
		bottom: -30px
		right: -20px
		width: 23%
		border: 3px solid #000
		border-radius: 5px

// block4 portfilio end

// block5 what we do?
.sect.what-we-do
	color: #fff
.what-we-do
	background-color: #000
	&__list
		display: grid
		gap: 38px
		grid-template-columns: repeat(4,1fr)
		margin: 0
		padding-bottom: 30px
	&__item
		position: relative
		color: #fff

// block5 what we do? end

// sect rev
.rev
	.swiper-container
		border-radius: 5px
	.swiper-slide
		display: flex
		// min-height: 200px
		height: auto!important
		padding: 40px 25px 30px
		background-color: #e23026
	.rev-item__text-content
		padding-right: 30px
	.rev-item__text
		margin-bottom: 15px
		color: #ffffff
		font-size: 24px
		line-height: 30px
	.rev-item__link
		font-size: 14px
		font-weight: 700
		color: #fff
		margin-bottom: 10px
		position: relative
		&:before
			content: ""
			position: absolute
			left: -10px
			bottom: 0
			width: 1px
			height: 16px
			background-color: #fff

	.rev-item__text-author
		min-width: 144px
		color: #ffffff
		font-size: 17px
	.rev-item__author-link
		span
			margin-bottom: 13px
			display: block
	.rev__videonablydenie
		font-size: 15px
	.rev-item__author
		font-size: 14px
// sect rev end

//block6 about
.about
	margin-bottom: 30px
	&__title
		max-width: 400px
		margin: 0 auto
		text-align: center
		font-size: 36px
		margin-bottom: 30px
		color: #000
		background: #e23026
		background: -webkit-linear-gradient(to right, #e23026, #037b7f)  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #e23026, #037b7f) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		animation-name: gradient
		animation-duration: 3s
		animation-iteration-count: infinite
		z-index: 5
@keyframes gradient
	0%
		background: -webkit-linear-gradient(to right, #e23026, #037b7f)
	50%
		background: -webkit-linear-gradient(to right, #037b7f, #e23026)
	100%
		background: -webkit-linear-gradient(to right, #e23026, #037b7f)

.about
	&__main
		display: flex
		justify-content: space-between
	&__item
		display: flex
		flex-direction: column
		max-width: 45%
	span
		font-weight: 300
		font-size: 16px
		margin-bottom: 10px
		&:last-child
			font-style: italic
			color: #000
.about
	&__help
		margin-bottom: 20px
	&__mess
		justify-content: center
		i
			font-size: 30px
//block6 about end

//footer
.footer
	background-color: #eeeeee
	padding-top: 30px
	padding-bottom: 50px
	&__inner
		display: flex
		justify-content: space-between
	&__botline
		padding-top: 50px
//footer end
//modal
.modal
	display: none
//modal end

@import "media"
